---
layout: page
permalink: /about/
---
<p style="text-align:center;"><img src="https://c2.staticflickr.com/2/1642/25064993733_e0cbd732be_c.jpg"></p>

<p>Hi, I’m Tinna, but I go by “Suki” all over the internet (and often times spilling into real life). By day, I am a numbers geek and master of Excel. The rest of the time, I’m dreaming about my next destination or small house project. I’m a San Francisco native living with the boyfriend and our two animals in a home I consider to be “home base,” even though it teaches me daily lessons on the <a href="http://superduperfantastic.com/category/life-in-san-francisco/homeowners-journal/" target="_blank" title="Homeowner's Journal">joys of homeownership</a>.</p>
<p>I spend most weekends and any time off: volunteering, learning, sipping tasty beverages, getting outdoors, <a href="http://superduperfantastic.com/category/hungry-suki/" target="_blank">eating</a> the world and documenting <a href="http://superduperfantastic.com/travel/" target="_blank">travels</a> and other adventures.</p>
<p>Once upon a time, I had major <a href="http://superduperfantastic.com/jaw-surgery/">jaw surgery</a>. That journey’s documented on this blog as well!</p>
<h3>About the Site</h3>
<p>Host : <a title="DreamHost" href="http://www.dreamhost.com/r.cgi?142468" target="_blank">Dreamhost</a> | Platform : <a title="Wordpress.org" href="http://wordpress.org/" target="_blank">WordPress.org</a> | Photo Hosting Site of Choice: <a href="http://flickr.com" target="_blank">Flickr</a></p>
<p>I do supplement the cost of running this site with occasional ads, sponsored posts, and affiliate links. I always disclose a relationship if there is one. If you’re interested in working with me, please do <a href="http://superduperfantastic.com/contact/">reach out</a>!</p>