---
layout: default
---

<div class="home">
    <ul class="post-list">
    {% for post in paginator.posts %}
       <li>
          <a href="{{ post.url | prepend: site.baseurl}}" class="image-box"><div class="excerpt-image"  style="background-image: url({{post.image}}); background-position: center center; background-size:100%;"></div></a>
          <div class="excerpt-text post-header-index">
            <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time><br> 
              <i class="fa fa-folder-open" aria-hidden="true"></i> 
              {% for category in post.categories %}
                {% for catdata in site.data.categories %}
                  {% if catdata.cat_name == category %}
                    <a href="{{ "/category/" | prepend: site.baseurl}}{{category | slugify }}">
                      {% if catdata.cat_sname %}
                        {{ catdata.cat_sname }}
                      {% else %}
                        {{ category }} 
                      {% endif %}
                    </a>
                  {% endif %}
                {% endfor %} 
                {% unless forloop.last %} > {% endunless %}
              {% endfor %}
               <br />
              <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.disqus_id }}">comments</a></span>
          
          </div><!--
          separator--><div class="excerpt-text">{{ post.excerpt }}<br>
                <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Continue Reading</a>
              </div>
        </li>  
    {% endfor %}
  </ul>
    <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previouspage">&laquo; Newer</a>
  {% endif %}
  {{ paginator.page }} of {{ paginator.total_pages }}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl}}" class="nextpage">Older &raquo;</a>
  {% endif %}
</div>
</div>
