---
layout: default
---

<div class="home">

    <ul class="post-list">
    {% for post in paginator.posts %}
        <li>
          <div class="post-header-index">
            <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
                <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> ~ <a href="#disqus_thread" data-disqus-identifier="{{ post.disqus_id }}">comments</a></span>
    <div class="post-category"><i class="fa fa-folder-open" aria-hidden="true"></i> {% for category in post.categories %}<a href="{{ "/category/" | prepend: site.baseurl}}{{category | slugify }}">{{ category }}</a>{% unless forloop.last %} > {% endunless %} {% endfor %}</div>
          </div><!--
          separator--><div class="excerpt"  style="background-image: url({{post.image}}); background-position: center center; background-size:100%;">
              <div class="excerpt-text">{{ post.excerpt }}
                <span><a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Continue Reading</a></span>
              </div>
            </div>
        </li>  
    {% endfor %}
  </ul>
    <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previouspage">&laquo; Newer</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl}}" class="nextpage">Older &raquo;</a>
  {% endif %}
</div>
</div>
