<footer class="site-footer">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            <i class="fa fa-facebook fa-lg"></i> <a href="http://facebook.com/{{ site.facebook_username }}/" target="_blank">{{ site.facebook_username }}</a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li>
            <i class="fa fa-instagram fa-lg"></i> <a href="http://instagram.com/{{ site.instagram_username }}/" target="_blank">{{ site.instagram_username }}</a>
          </li>
          {% endif %}
          {% if site.pinterest_username %}
          <li>
            <i class="fa fa-pinterest fa-lg"></i> <a href="http://pinterest.com/{{ site.pinterest_username }}/" target="_blank">{{ site.pinterest_username }}</a>
          </li>
          {% endif %}
          {% if site.bloglovin_username %}
          <li>
            <i class="fa fa-heart fa-lg"></i> <a href="https://www.bloglovin.com/blogs/{{ site.bloglovin_username }}" target="_blank">Bloglovin'</a>
          </li>
          {% endif %}
          <li>
            <i class="fa fa-rss fa-lg"></i> <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
          </li>
          <li>
            <i class="fa fa-th-large"></i> <a href="http://www.blogarama.com/my-life-blogs/8844-blog/" title="Blogarama.com - Follow me on Blogarama" target="_blank">Blogarama</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col footer-col-3">
        © 2005-2017 [Super Duper Fantastic] | All Rights Reserved | <a href="{{"/disclosure/" | prepend: site.baseurl }}">Disclosure</a>
    </div>

</footer>
