<header class="site-header">
        <div class="site-logo"><a href="{{ site.baseurl }}/"><img src="http://superduperfantastic.com/wp-content/uploads/2016/03/sdflogo.png" alt="site-logo"></a></div>
            <nav class="site-nav" id="menu">
                <ul>
                    <li class="page-link"><a href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i> Home</a></li>
                    <li class="page-link"><a href="{{ "/about" | prepend:site.baseurl}}"><i class="fa fa-female fa-lg"></i> About</a>
                        <ul class="dropdown">
                            <li class="menu-item sub-menu"><a href=""><i class="fa fa-envelope fa-lg"></i> Contact</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss fa-lg"></i> RSS</a></li>
                        </ul>
                    </li>
                    <li class="page-link"><a href=""><i class="fa fa-sun-o fa-lg"></i> Life</a>
                        <ul class="dropdown">
                            <li class="menu-item sub-menu"><a href="{{ "/category/getting-personal/" | prepend:site.baseurl }}"> &raquo; Getting Personal</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/homeowners-journal/" | prepend:site.baseurl }}"> &raquo; Homeowner's Journal</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/metal-mouth/" | prepend:site.baseurl }}"> &raquo; Jaw Surgery</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/money-matters/" | prepend:site.baseurl }}"> &raquo; Money Matters</a></li>
                        </ul>
                    </li>
                    <li class="page-link"><a href=""><i class="fa fa-cutlery fa-lg"></i> Food & Drink</a>
                        <ul class="dropdown">
                            <li class="menu-item sub-menu"><a href="{{ "/tag/restaurant/" | prepend:site.baseurl }}"> &raquo; Dining Out</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/cooking/" | prepend:site.baseurl }}"> &raquo; Dining In</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/tag/saturday-swig/" | prepend:site.baseurl }}"> &raquo; Saturday Swig</a></li>     
                        </ul>
                    </li>
                    <li class="page-link"><a href="{{ "/category/san-francisco/" | prepend:site.baseurl }}"><i class="fa fa-map-marker fa-lg"></i> SF Local</a>
                        <ul class="dropdown">
                            <li class="menu-item sub-menu"><a href="{{ "/category/california/" | prepend:site.baseurl }}"> &raquo; Around California</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/tag/dog-friendly/" | prepend:site.baseurl }}"> &raquo; Dog-friendly Fun <i class="fa fa-map-paw fa-lg"></i></a></li>     
                        </ul>
                    </li>
                    <li class="page-link"><a href="{{ "/travel" | prepend:site.baseurl}}"><i class="fa fa-plane fa-lg"></i> Travel</a>
                        <ul class="dropdown">
                            <li class="menu-item sub-menu">Asia</li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/bali/" | prepend:site.baseurl }}"> &raquo; Bali</a></li>
                            <li class="menu-item sub-menu">Europe</li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/denmark/" | prepend:site.baseurl }}"> &raquo; Denmark</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/spain/" | prepend:site.baseurl }}"> &raquo; Spain</a></li>
                            <li class="menu-item sub-menu">Central America</li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/costa-rica/" | prepend:site.baseurl }}"> &raquo; Costa Rica</a></li>
                            <li class="menu-item sub-menu">North America</li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/mexico/" | prepend:site.baseurl }}"> &raquo; Mexico</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/colorado/" | prepend:site.baseurl }}"> &raquo; US: Colorado</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/hawaii/" | prepend:site.baseurl }}"> &raquo; US: Hawaii</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/new-mexico/" | prepend:site.baseurl }}"> &raquo; US: New Mexico</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/oregon/" | prepend:site.baseurl }}"> &raquo; US: Oregon</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/texas/" | prepend:site.baseurl }}"> &raquo; US: Texas</a></li>
                            <li class="menu-item sub-menu"><a href="{{ "/category/wyoming/" | prepend:site.baseurl }}"> &raquo; US: Wyoming</a></li>
                        </ul>
                    </li>
                    
                </ul>  
            </nav>
</header>
