<div class="widget">
    <div class="widget-title">[WELCOME]</div>
    <div class="widget-body">
        <p style="text-align:center;"><img src="/assets/coverphoto.jpg" alt="Sidebar Photo"></p>
        <p>Hi! Welcome to our little corner of the internet!</p>
        <p>[Super Duper Fantastic] is a personal blog where we share our lives in San Francisco, as well as our love for unique experiences, especially those in food and travel.</p>
        <p>Learn more about us: <a href="{{ "/about/" | prepend: site.baseurl }}">here</a>.</p>
    </div>
    <div class="widget-title">[Let's Connect]</div>
    <div class="widget-body social">
        <p style="text-align:center;"><a href="http://facebook.com/superduperfantasticnet/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>  
        <a href="http://twitter.com/suki" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>  
        <a href="http://instagram.com/superduperfantastic/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>   
        <a href="http://pinterest.com/suki/" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a>
        <a href="https://www.bloglovin.com/blogs/super-duper-fantastic-2988376" target="_blank"><i class="fa fa-heart fa-lg"></i></a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss fa-lg"></i></a>
        </p>
    </div>
    <div class="widget-title">[Travel Plans]</div>
    <div class="widget-body">
        <h2>Where We're Going</h2>
        <ul>    
            <li>Mar 2019 - Palm Springs (Alt Summit)</li>
        </ul>
        <h2>Where We've Been</h2>
        <ul>
            <li>all of 2018 - Disneyland</li>
            <li>Nov 2018 - Belize</li>
            <li>Aug 2018 - Iceland</li>
            <li>Dec 2017 - Disneyland</li>
            <li>Dec 2017 - Missoula, MT</li>
            <li>Oct 2017 - Hong Kong</li>
            <li>Sep 2017 - Northwestern MT</li>
            <li>Aug 2017 - Abiquiu, NM</li>
            <li>Apr 2017 - Las Vegas, NV</li>
            <li>Feb 2017 - Phoenix, AZ</li>
            <li>Jan 2017 - Havana, Cuba</li> 
        </ul>
        </div>
    <div class="widget-title">[Insta Snaps]</div>
    <div class="widget-body">       
<!-- SnapWidget -->
<iframe src="https://snapwidget.com/embed/540158" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:205px; height:1230px"></iframe>
    </div>
</div>