<div class="widget">
    <div class="widget-title">[WELCOME]</div>
    <div class="widget-body">
        <p style="text-align:center;"><img src="https://c1.staticflickr.com/9/8742/16938424572_f6b262d71a_n.jpg" alt="Sidebar Photo"></p>
        <p>Hi! Welcome to my little corner of the internet!</p>
        <p>[Super Duper Fantastic] is my personal blog where I share my life in San Francisco, as well as my love for unique experiences, especially those in food and travel.</p>
        <p>Learn more about me: <a href="{{ "/about/" | prepend: site.baseurl }}">here</a>.</p>
    </div>
    <div class="widget-title">[Let's Connect]</div>
    <div class="widget-body social">
        <p style="text-align:center;"><a href="http://facebook.com/superduperfantasticnet/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>  
        <a href="http://twitter.com/suki" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>  
        <a href="http://instagram.com/superduperfantastic/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>   
        <a href="http://pinterest.com/suki/" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a>
        <a href="https://www.bloglovin.com/blogs/super-duper-fantastic-2988376" target="_blank"><i class="fa fa-heart fa-lg"></i></a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss fa-lg"></i></a>
        </p>
    </div>
    <div class="widget-title">[Travel Plans]</div>
    <div class="widget-body">
        <p>Where I'm Going</p>
        <ul>    
            <li>May 2016 - Milwaukee, WI</li>
            <li>Jul 2016 - New Orleans, LA</li>
            <li>Jul 2016 - Sacramento, CA</li>
            <li>Sep 2016 - Austin, TX</li>
        </ul>
        <p>Where I've Been</p>
        <ul>
            <li>Apr 2016 - Walla Walla, WA</li>
            <li>Apr 2016 - Cincinnati, OH</li>
            <li>Mar 2016 - Irvine, CA</li>
            <li>Mar 2016 - Denver, CO</li>
            <li>Feb 2016 - Bali, Indonesia</li>
            <li>Jan 2016 - Sonoma, CA</li>
            <li>Nov 2015 - Mexico City, Mexico</li>
        </ul>
        </div>
    <div class="widget-title">[Insta Snaps]</div>
    <div class="widget-body">       
    <!-- LightWidget WIDGET --><iframe src="http://lightwidget.com/widgets/425588cc2395597eacbc5d31d6733cbc.html" id="lightwidget_425588cc23" name="lightwidget_425588cc23"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; padding: 5px; overflow: hidden;"></iframe>
    </div>
</div>