/**
 * Site header
 */
.site-logo {
    width: 100%;
    height: 250px;
    text-align:center;
    padding-top: $spacing-unit / 2;

    // Positioning context for the mobile navigation icon
    position: relative;
}
nav#menu {
    border-bottom: $hover-color 1px solid;
    border-top: $hover-color 1px solid;
    padding-top: $spacing-unit /2;
    text-align:center;
    height: 50px;
    display: inline-block;
    width: 100%;
    letter-spacing: 1.5px;
    font-size: 14px;
    text-transform: uppercase;
    transition: border-bottom 0.1s ease-in-out;
}
nav#menu li {
    display:inline-block;
    margin-right: $spacing-unit;
    height: 50px;
    .menu-icon {
        display: none;
    } 
}
nav#menu.scrolled {
  margin: 0;
  position: fixed;
  top: 0;
  border-bottom: $hover-color 1px solid;
  background-color: white;
  z-index:999;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $hover-color;
    padding: $spacing-unit;
    clear:both;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit;
    display: inline-block;
    width: 77%;
    border-right: $hover-color 1px solid;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}
.post-list li {
    width: 75%;
    margin: 0 auto;
}
.post-category, .post-link, .post-meta {
    display: block;
    background: RGBA(255,255,255,0.65)
}
.top-info {
    height: 375px;
    padding-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit / 2;
}
.post-category {
    padding-top: $spacing-unit / 2;
}
.top-info, .category {
    text-align:center;
}
.post-list a {
    text-decoration: none;
}
.post-list h2 {
    margin-bottom: 0px;
}
.post-link, .post-title, .page-title, .category {
    display: block;
    font-family: "Lora", serif;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

/**
 * Posts
 */
.post-header, .post, .post-list > li {
    margin-bottom: $spacing-unit;
    padding-top: $spacing-unit;
}


.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-family: "Lora", serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align:center;
        padding-top: $spacing-unit/2;
        }

    h3 {
        text-align:center;
        font-family: "Lora", serif;
        font-weight: 300;
        text-transform: uppercase;
        }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.post-category, .post-meta, .post-tags, .social {
    font-size: $small-font-size / 1.15;
    text-transform: uppercase;
    text-align:center;
    display:block;
    letter-spacing: 3px;
}
.post-meta:last-child {
    padding-bottom: $spacing-unit;
}
.post-category a, .post-meta a {
    color: $brand-color;
    text-decoration: none;
}
.post-list a:hover {
    text-decoration:underline;
    color: $brand-color;
}
.post-tags a {
    font-size: 0.75em;
    color: $brand-color;
    text-decoration: none;
    transition: text-decoration 0.35s ease-in-out;
}
.post-tags a:hover {
    color: $hover-color;
}
/***Sidebar*/
.sidebar 
    { width: 23%;
    float: right;
    padding-left: $spacing-unit;
    padding-top: $spacing-unit;
}
.widget-title:first-child {
    margin-top: $spacing-unit;
}
.widget-title {
    background-color: #000000;
    color: $hover-color;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: $spacing-unit;
    margin-top: $spacing-unit / 2 ;
    margin-bottom: $spacing-unit / 3;
}
.widget-body {
    font-size: 14px;
    padding: $spacing-unit / 3;
}
.pagination, .postnav {
    display:inline-block;
    text-transform: uppercase;
    margin-top: $spacing-unit;
    text-align:center;
    font-size: 0.8em;
    width: 100%;
}
.postnav li {
    margin-bottom: $spacing-unit;
}
.pagination a:hover, .postnav li:hover {
    border: 1px solid $brand-color;
}
.pagination a, .postnav a {
    text-decoration:none;
    color: $hover-color;
    padding: 5px;
    border: 1px solid $hover-color;
    margin-bottom: $spacing-unit;
}
.pagination a:hover, .postnav a:hover {
    color: $brand-color;
}
.previouspage, .nextpage {
    width: $spacing-unit * 6;
}
.nextpost, .nextpage {
    float:right;
}
.previouspost, .previouspage {
    float:left;
}
.nextpost, .previouspost {
    width: 50%;
}

.posts li {
    padding-top: $spacing-unit/3;
    width: 49%;
    display: inline-block;
    height: $spacing-unit * 10;
    vertical-align:top;
}

.posts .category {
    min-height: 2.5em;
    padding-left: 20px;
    padding-right: 20px;
}

.posts li img {
    padding-bottom: $spacing-unit/3;    
}
.catthumb {
    width: $spacing-unit * 5;
    height: $spacing-unit * 5;
    background-position: center center;
    margin: 0 auto;
}

.center {
text-align:center;
}
.separator {
    background-color: $hover-color;
    height: 1px;
    width: 100%;
    margin-top: -41px;
    z-index: -9;
    position: relative;
    margin-bottom: $spacing-unit;
}
.readmore {
    background-color:#FFFFFF;
    padding: 0 $spacing-unit / 2;
    text-align:center;
    color: $hover-color;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-left: -82px;
    left: 75%;
    position: relative;
    z-index: 9;
}
.readmore:hover {
    color: $brand-color;
    font-weight: bold;
}
.relatedPost {
    display: inline-block;
    padding: $spacing-unit /1.5;
}