/*** Site header */
.site-logo {
    width: 100%;
    height: 250px;
    text-align:center;
    padding-top: $spacing-unit / 2;

    // Positioning context for the mobile navigation icon
    position: relative;
}
.site-nav {
    border-bottom: $hover-color 1px solid;
    border-top: $hover-color 1px solid;
    padding-top: $spacing-unit /2;
    text-align:center;
    height: 50px;
    display: inline-block;
    width: 100%;
    letter-spacing: 1.5px;
    font-size: 14px;
    text-transform: uppercase;
    transition: border-bottom 0.1s ease-in-out;
}
.site-nav .page-link {
    display:inline-block;
    margin-right: $spacing-unit;
    height: $spacing-unit;
    .menu-icon {
        display: none;
    } 
}
.site-nav.scrolled {
  margin: 0;
  position: fixed;
  top: 0;
  border-bottom: $hover-color 1px solid;
  background-color: white;
  z-index:999;
}
.site-nav ul li ul {
    visibility: hidden;
    float: left;
    text-align:left;
    position: absolute;
    margin-top: 12px;
    z-index: 999;
}

.site-nav ul li:hover > ul,
.site-nav ul li ul:hover {
   visibility: visible;
   background-color: white;
   border: $hover-color 1px solid;
}

.site-nav ul li ul li {
    clear: both;
    padding: 5px 0 5px 15px;
    width: 60%;
}

.site-nav ul li ul li:hover {
    background: #74b7e4;
}

.dropdown .sub-menu {
    display: block;
    width: auto;
    padding-right: 20px;
    height: 30px;
}

/*** Site footer */
.site-footer {
    border-top: 1px solid $hover-color;
    padding: $spacing-unit;
    clear:both;
}

.page-link a {
    padding-bottom: $spacing-unit / 2;
}
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit;
    display: inline-block;
    width: 77%;
    border-right: $hover-color 1px solid;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}
.post-category, .post-link, .post-meta, .post-tags {
    display: block;
}
.excerpt-image {
    height: $spacing-unit * 8;
    margin: 0 auto;
    transition: all 0.5s ease;
}
.excerpt-image:hover {
    transform: scale(0.97);
}
.image-box {
    overflow: hidden;
}
.excerpt-text {
    padding: $spacing-unit / 2 $spacing-unit/2 0 $spacing-unit/2;
    background: RGBA(215,215,215,0.25);
}

.top-info, .category {
    text-align:center;
}

.post-list h2, .post h2 {
    margin-bottom: 0px;
}
.post-link, .post-title, .page-title, .category {
    display: block;
    font-family: "Lora", serif;
    line-height: normal;
    text-transform: uppercase;
}
.post-link {
    min-height: 2.5em;
}

/**
 * Posts
 */
.post, .post-list > li {
    margin-bottom: $spacing-unit;
    padding-top: $spacing-unit;
}
.post-list > li {
    display: inline-block;
    width: 49%;
    padding: $spacing-unit / 2;
    vertical-align:top;
}
.post-header, .post-header-index {
    text-align:center;
    padding-top: $spacing-unit /2;
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-family: "Lora", serif;
        font-weight: 300;
        text-transform: uppercase;
        padding-top: $spacing-unit/2;
        }

    h3 {
        font-family: "Lora", serif;
        font-weight: 300;
        text-transform: uppercase;
        }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.post-category, .post-meta, .post-tags, .social {
    font-size: $small-font-size / 1.15;
    text-transform: uppercase;
    text-align:center;
    display:block;
    letter-spacing: 3px;
}

.post-meta:last-child {
    padding-bottom: $spacing-unit / 2;
}

/***Sidebar*/
.sidebar 
    { width: 23%;
    float: right;
    padding-left: $spacing-unit;
    padding-top: $spacing-unit;
}
.widget-title:first-child {
    margin-top: $spacing-unit;
}
.widget-title {
    background-color: #000000;
    color: $hover-color;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: $spacing-unit;
    margin-top: $spacing-unit / 2 ;
    margin-bottom: $spacing-unit / 3;
}
.widget-body {
    font-size: 14px;
    padding: $spacing-unit / 3;
}
.pagination, .postnav {
    display:inline-block;
    text-transform: uppercase;
    margin-top: $spacing-unit;
    text-align:center;
    font-size: 0.8em;
    width: 100%;
}
.postnav li {
    margin-bottom: $spacing-unit;
}
.pagination a:hover, .postnav li:hover {
    border: 1px solid $brand-color;
}
.pagination a, .postnav a {
    text-decoration:none;
    color: $hover-color;
    padding: 5px;
    border: 1px solid $hover-color;
    margin-bottom: $spacing-unit;
}
.pagination a:hover, .postnav a:hover {
    color: $brand-color;
}
.previouspage, .nextpage {
    width: $spacing-unit * 6;
}
.nextpost, .nextpage {
    float:right;
}
.previouspost, .previouspage {
    float:left;
}
.nextpost, .previouspost {
    width: 50%;
}

.posts li {
    padding: $spacing-unit/3;
    width: 49%;
    display: inline-block;
    height: $spacing-unit * 13;
}

.posts .category {
    padding-left: 10px;
    padding-right: 10px;
}

.posts li img {
    padding-bottom: $spacing-unit/3;    
}
.catthumb {
    width: $spacing-unit * 5;
    height: $spacing-unit * 5;
    background-position: center center;
    margin: 0 auto;
}

.center {
text-align:center;
}
.right {
    float: right;
    padding-left: $spacing-unit/2;
}
.left {
    float: left;
    padding-right: $spacing-unit/2;
}
.separator {
    background-color: $hover-color;
    height: 1px;
    width: 100%;
    margin-top: -41px;
    z-index: -9;
    position: relative;
    margin-bottom: $spacing-unit;
}
.readmore {
    background-color:#FFFFFF;
    padding: $spacing-unit/3;
    text-align:center;
    color: $hover-color;
    font-size: 0.75em;
    border: 1px solid $hover-color;
    text-transform: uppercase;
    left: 30%;
    position: relative;
    z-index: 9;
}
.readmore:hover {
    color: $brand-color;
    font-weight: bold;
    border: 1px solid $brand-color;
}
.relatedPost {
    display: inline-block;
    padding: $spacing-unit /1.5;
}