---
layout: post
status: publish
published: true
title: 'See Montserrat: Visiting the Mountain Monastery'
disqus_id: 76 http://superduperfantastic.net/archives/2007/08/17/mountain-monastery/
wordpress_id: 76
wordpress_url: http://superduperfantastic.net/archives/2007/08/17/mountain-monastery/
date: '2007-08-17 22:34:57 -0700'
categories:
- Spain
tags:
- monastery
comments: true
---
<p>The mountain monastery in <a href="http://en.wikipedia.org/wiki/Montserrat_(mountain)" target="_blank">Montserrat</a> (officially Santa Maria de Montserrat Abbey) is one of the most important religious retreats in Catalonia. People come from far and wide to see the statue of the Virgin of Montserrat, who is one of Europe's black Madonnas. </p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1155/583632771_b2d0b0da13_b.jpg" alt="Montserrat Mountain Monastery" /></p><br />
Situated about 30 miles west of Barcelona and accessible by bus, train, and car, it makes for a great day trip. When we made the trip out to Montserrat from Barcelona, we took the train option. From there, an aerial cable car took us up the rest of the way.</p>
<p style="text-align:center;"><img src="https://farm2.staticflickr.com/1034/583621497_f3cd46881c_b.jpg" alt="Montserrat Mountain Monastery" /></p></p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1242/583628457_c413ed5a2b_b.jpg" alt="Montserrat Mountain Monastery" /></p><br />
After we had taken in the sights of the monastery, we decided to do some hiking around. </p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1077/584015194_331f6e7276_b.jpg" alt="Montserrat Mountain Monastery" /></p><br />
It was a bit more climbing than we had anticipated. Parts of the hike involved traipsing along the steep sides of the mountain - yikes! My legs AND arms were so sore afterward. At least we got some great pictures out of it!</p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1221/583651587_2717022859_b.jpg" alt="Montserrat" /></p></p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1174/583638327_dd5957d0be_b.jpg" alt="Montserrat" /></p></p>
<h3>Visit the Mountain Monastery (and more!)</h3><br />
Information: <a href="http://www.montserratvisita.com/" target="_blank">montserratvisita.com/</a></p>
