---
layout: post
status: publish
published: true
title: Sevilla, Spain - 5 months ago...
author:
  display_name: suki
  login: tinna
  email: slightlydelightful@gmail.com
  url: http://superduperfantastic.com
author_login: tinna
author_email: slightlydelightful@gmail.com
author_url: http://superduperfantastic.com
wordpress_id: 68
wordpress_url: http://superduperfantastic.net/archives/2007/11/13/sevilla-spain-5-months-ago/
date: '2007-11-13 13:50:43 -0800'
date_gmt: '2007-11-13 21:50:43 -0800'
categories:
- Travel
tags:
- Spain
comments:
- id: 619
  author: ocb
  author_email: occasionalbtch@gmail.com
  author_url: http://occasionalbitch.com
  date: '2007-11-14 02:04:00 -0800'
  date_gmt: '2007-11-14 02:04:00 -0800'
  content: |-
    oh sure just when the jealousy had passed you go and post about it some more! lol

    Thanks for sharing :)
- id: 620
  author: Nanette
  author_email: nanettep@gmail.com
  author_url: http://nannersp.blogspot.com
  date: '2007-11-14 22:48:00 -0800'
  date_gmt: '2007-11-14 22:48:00 -0800'
  content: Such beautiful pics! Sounds and looks like you had a great time! And I
    love the idea of the jumping photos but I'd just end up giving myself a black
    eye with my giant boobs. :(
---
<p><!--Sevilla Spain---><img src="http://farm2.static.flickr.com/1130/608080082_2a8c9d8585_m.jpg" class="alignright" alt="Marga y Norbert" />My fondest memories of Spain are from the time spent in the Andalucia region, and it all started in its capital - Sevilla. We took a cheap flight down from Barcelona [YAY - <a href="http://www.vueling.com/EN/" target="_blank">Vueling</a>!], hopped on the bus to the Santa Justa Station, then took another bus to the city center. For our short stint in Sevilla [3 days, 2 nights], we stayed with Marga and Norbert. Such nice folks, and a very cute apartment.</p>
<p>We arrived in the evening, so it was really two days of actual time spent seeing the sights. The first night, Marga and Norbert took us out for a walk/drink. While the heat during the day was pretty unbearable, the evenings were perfect for a stroll. Not too hot, definitely not cold.</p>
<p>Some of the spots we visited during the first actual day: the Cathedral, Alcazar, Jewish Quarter, and also Plaza de Espana! Donna and I went to the Cathedral and Alcazar on our own, but Marga met up with us after that and made visiting the other sites a LOT easier. No map necessary!</p>
<p>The Cathedral of Sevilla is the final resting place of Christopher Columbus. It occupies the former site of a mosque, which seems to be pretty common in this part of Spain. Moorish/Arab influence in the past that ends up being taken over... at least it wasn't completely destroyed, just taken over and incorporated. </p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1329/607946814_d2650ed7c8.jpg" alt="" width="320" /> <img src="http://farm2.static.flickr.com/1075/607767217_f72576b170.jpg" width="320" alt="" /></p><br />
<em>Outside of the Cathedral.</em></p>
<p>La Giralda is a minaret tower, originally intended for the chief mosque, but now the bell tower of the Cathedral and symbol of Seville. We climbed up the 34 ramps for a view of the city. </p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1099/607781433_796697fc62_n.jpg" alt="" /> <img src="http://farm2.static.flickr.com/1023/607787137_89ee678b5a_n.jpg" alt="" /></p><br />
<em>View from top and inside of La Giralda.</em></p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1313/608000198_a1113a528e_n.jpg" alt="" /> <img src="http://farm2.static.flickr.com/1161/607807791_4c4ad39062_n.jpg" alt="" /></p><br />
<em>Inside the Real Alcazar - the palace.</em></p>
<p>Plaza de Espana is the site of the Spanish pavilion from the 1929 exhibition. Very neat tile art that represents each region of Spain. It was used as Naboo in Star Wars Episode II. How's that for a random fact? Standing next to the columns, we look TINY.</p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1159/607819333_03b190cb27_n.jpg" alt="" /> <img src="http://farm2.static.flickr.com/1317/607825665_e69f11e281_n.jpg" alt="" /></p><br />
Here are some shots taken with Marga. </p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1323/607811623_c097102d11.jpg" width="320" alt="" /> <img src="http://farm2.static.flickr.com/1077/607832653_091ba1db01.jpg" width="320" alt="" /></p><br />
<em>With Marga in the Jewish Quarter and Marga in a fountain.</em></p>
<p>In the Jewish Quarter, there were small alleys that we can stretch out our arms and reach both buildings. It's known as Barrio Santa Cruz and wasn't too far from the Cathedral, so after we were done with both the Cathedral and Palace, Marga came to meet us to take us around. She found a fountain to fill up her water bottle. Apparently you can drink from the fountains. Personally thought it tasted a little funky, but it's an idea. She asked us to watch for cops!</p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1420/607853977_a8aae3064f_z.jpg" alt="" /><br />
<em>At the flamenco show.</em></p><br />
Upon Marga's recommendation, we checked out a flamenco show! Afterwards, Donna and I walked across the river to Triana for late night eats. Of course, we were forewarned not to go to any place with no prices listed as it's often the site of tourist traps. So we wandered for quite some time before we found a place! Ordering food was always such a chore because we had to yell over people in Spanish. So yeah, took awhile to get the food even once we found the place. It was great though, and in the end, the guy behind the counter wanted to give us some of the dishes free, but I was lame and didn't realize it. I just kept telling him that his math sucked.</p>
<p>And the trip would not be complete without a jumping photo. This was taken on the roof of Marga's apartment building. I had to take the photo, so I'm not in it.</p>
<p style="text-align:center;"><img src="http://farm2.static.flickr.com/1422/607842917_57ae5d2ad4_z.jpg" alt="" /></p></p>
