---
layout: post
status: publish
published: true
title: 'Memorial Weekend Recap : Bryce Canyon NP'
disqus_id: 3236 http://superduperfantastic.net/?p=3236
wordpress_id: 3236
wordpress_url: http://superduperfantastic.net/?p=3236
date: '2010-06-04 08:35:45 -0700'
categories:
- Utah
tags:
- road trip
- Bryce Canyon National Park
- national parks
comments: true
---
<p>No photos can really do such a majestic/magnificent place justice, but I gave it a shot anyhow. We spent a few hours driving through, making stops for photos, and then a hike down to the supposed "Hat Shop." During the hike, we debated whether the shop was real, and if so, how they would bring all the hats down into the canyon - pack mule perhaps? As it turned out, the "Hat Shop" is not actually a shop... So when I did a search for photos online, I wasn't as disappointed that we didn't make it all the way there. We had to turn back as I decided peeing on the trail without toilet paper just wouldn't do.</p>
<p>We did, however, see ones that resembled sombreros. See 'em?</p>
<p><img alt="" src="http://farm5.static.flickr.com/4016/4665643034_a7a9eb849b.jpg" title="Sombrero-shaped rocks" class="aligncenter" width="500" height="333" /></p>
<p>The <a href="http://en.wikipedia.org/wiki/Hoodoo_%28geology%29" target="_blank">hoodoos</a> reminded me of the Terra Cotta Warriors in China - so uniform in nature. What a crazy geological phenomenon!</p>
<p><img alt="" src="http://farm5.static.flickr.com/4015/4665660994_081d652058.jpg" title="Hoodoos of Bryce Canyon" class="aligncenter" width="500" height="333" /></p>
<p>Now imagine the photo above stretched all the way across the screen. Looking down on something like that, knowing that if you were to hike down there, you'd just be a tiny speck in the vast landscape - now <strong><em>that's</em></strong> something!</p>
<p><img alt="" src="http://farm5.static.flickr.com/4058/4665660376_05d218181d.jpg" title="Bryce Canyon" class="aligncenter" width="500" height="333" /></p>
<p><img alt="" src="http://farm2.static.flickr.com/1299/4665638032_d86e42cbb3.jpg" title="Hoodoos of Bryce Canyon" class="aligncenter" width="500" height="333" /></p>
<p>More photos of Bryce Canyon National Park: <a href="http://www.flickr.com/photos/suki/sets/72157624193218854/" target="_blank">here</a>!</p>
