---
layout: post
status: publish
published: true
title: 'Memorial Weekend Recap : Zion National Park'
disqus_id: 3286 http://superduperfantastic.net/?p=3286
wordpress_id: 3286
wordpress_url: http://superduperfantastic.net/?p=3286
date: '2010-06-09 22:57:54 -0700'
date_gmt: '2010-06-10 05:57:54 -0700'
categories:
- Utah
tags:
- road trip
- national parks
- Zion National Park
comments: true
---
<p><img alt="" src="http://farm2.static.flickr.com/1291/4665701402_7c542b01cf.jpg" title="Zion National Park - Entrance" class="aligncenter" width="500" height="333" /><br />
Zion National Park is a different type of beautiful, a different sort of majestic - that's what anyone who has been to both <a href="http://superduperfantastic.net/2010/06/04/memorial-weekend-recap-bryce-canyon-np/" target="_blank">Bryce Canyon</a> and Zion will tell you. At first, we thought we would only have time for one, but we managed to visit both national parks. </p>
<p><img alt="" src="http://farm2.static.flickr.com/1297/4665743890_449f03afd7.jpg" title="Zion National Park - Crazy Rocks" class="aligncenter" width="500" height="333" /><br />
Your focus is above and around you at Zion, while at Bryce, you're looking down and across unless you're hiking into the canyon.</p>
<p>Having driven through on our way to Bryce, we knew what we were getting into and how we were to go about our actual visit. Even though the "FULL" sign was up at the parking lot, we took a chance and swung by anyway. In about five to ten minutes, we found a decent spot. YAY!</p>
<p><img alt="" src="http://farm2.static.flickr.com/1277/4665117859_eb2f511a8f.jpg" title="Zion National Park - Crazy Rocks" class="aligncenter" width="500" height="333" /></p>
<p><img alt="" src="http://farm2.static.flickr.com/1288/4665735530_3dffb5c32f.jpg" title="Zion National Park - Crazy Rocks" class="aligncenter" width="500" height="333" /><br />
We boarded the free shuttle that takes you through the park and took it to the very end. At the end of the line [which is really a loop], we hiked as far as the trail would lead us [which was more like a quick and easy stroll], took some photos, and then hopped back onto a shuttle. They run about 5-6 minutes apart, so we knew no time would be wasted on waiting for shuttles. </p>
<p><img alt="" src="http://farm5.static.flickr.com/4064/4665123327_3f301bc85a.jpg" title="Dennis" class="alignleft" width="333" height="500" />You wouldn't normally find me taking a random photograph of the shuttle driver, but the reason for this photo is that he is <em><strong>the</strong> voice</em> behind the recording playing on all of the Zion National Park shuttles! </p>
<p>We originally hopped onto a different bus, and the driver played the recording which gave all the nifty facts about the various sites at each stop. Well, somewhere in our shuttle shuffling, we ended up on Dennis' bus. When he began speaking [they don't play the recording on the way back], it all just clicked. His voice was SO familiar! He was <em><strong>the</strong> voice</em>! </p>
<p>It was great though because he threw in a ton of other random tidbits that I'm certain the other drivers would have just skipped over!</p>
<p>This photo was most definitely not posed. I was trying to sneak a photo of his name tag and the back of his head, but he turned around just at that moment. Lucky shot, I suppose! Thanks, Dennis, for such an informative ride through Zion National Park!</p>
<p>This particular flower is a part of the various hanging gardens that grow along the canyon walls. I hadn't seen it before this trip, but then of course soon after I take this photo, I notice this flower in other places as well. It's almost like looking up something or overhearing about a person or place, and then you see it/hear about it EVERYWHERE.</p>
<p><img alt="" src="http://farm5.static.flickr.com/4026/4665115579_174bbcf089.jpg" title="Flower" class="aligncenter" width="500" height="333" /></p>
<p>More Zion National Park photos: <a href="http://www.flickr.com/photos/suki/sets/72157624193615444/" target="_blank">here</a>!</p>
