---
layout: post
status: publish
published: true
title: 'Memorial Weekend Recap : Scenic Highway 12'
disqus_id: 3247 http://superduperfantastic.net/?p=3247
wordpress_id: 3247
wordpress_url: http://superduperfantastic.net/?p=3247
date: '2010-06-06 08:27:08 -0700'
categories:
- Utah
tags:
- road trip
comments: true
---
<p>After several hours in <a title="Memorial Weekend Recap : Bryce Canyon NP" href="http://superduperfantastic.com/memorial-weekend-recap-bryce-canyon-np/3236/" target="_blank">Bryce Canyon National Park</a>, we took Highway 12 for about 75 more miles eastward to Boulder, Utah. We passed by quite a few scenic spots along the way, which is probably why they've dubbed this particular highway "Scenic Highway 12" in all of their maps/brochures. There wasn't much in Boulder, except for a rather disappointing hot dog / root beer float experience.</p>
<p>Here's the route we ended up taking:</p>
<p><img class="aligncenter" title="Scenic Highway 12 Route" src="http://farm2.static.flickr.com/1282/4674532285_dd8633177c.jpg" alt="" width="500" /></p>
<p>As you can see on the map, there aren't very many towns along the 75 mile stretch that we drove. Originally, our final destination would have been Escalante, but we reached it a little earlier than expected, so we continued the drive to Boulder. That stretch was probably the most eye-opening since we ended up over a ridge on a narrow road with major drops on both sides. If you added a little wind to that equation, we would have tumbled to our deaths in my little green machine!</p>
<p><img class="aligncenter" title="Scenic Highway 12" src="http://farm5.static.flickr.com/4023/4665040827_4eb40b6bb6.jpg" alt="" width="500" height="333" /></p>
<p>There was a coffee shop right outside of Escalante that we wanted to stop in at, but we reached it about ten minutes after closing time. The views from their parking lot were pretty amazing too.</p>
<p><img class="aligncenter" title="Some Mounds East of Escalante, UT" src="http://farm5.static.flickr.com/4009/4665682184_dd254a72a7.jpg" alt="" width="500" height="333" /></p>
<p>After reaching Boulder, we turned back around and headed back to Escalante. Of all the towns we passed through, it seemed the best option for dinner since it was a little larger than the blinks of other towns. We decided to wait for the sun to set before heading back westward, so as not to be blinded by the sun before it sank beneath the mountains and were rewarded with this view:</p>
<p><img class="aligncenter" title="Sunset" src="http://farm5.static.flickr.com/4037/4665059019_3eee03bedc.jpg" alt="" width="500" height="333" /></p>
<p>And that was pretty much the only full day in Utah! The next day, we would be going through Zion National Park and making our way to Vegas for the night.</p>
