---
layout: post
status: publish
published: true
title: 'Memorial Weekend Recap : Getting There'
disqus_id: 3221 http://superduperfantastic.net/?p=3221
wordpress_id: 3221
wordpress_url: http://superduperfantastic.net/?p=3221
date: '2010-06-03 00:01:34 -0700'
categories:
- Utah
tags:
- road trip
- Las Vegas
- Bryce Canyon National Park
comments: true
---
<p>On Friday night, RV and I began the drive eastward. Our Google Maps-recommended route from San Francisco to <a href="http://www.flickr.com/photos/suki/sets/72157624193218854/" target="_blank">Bryce Canyon National Park</a> was through Yosemite National Park and would take approximately 12.5 hours without any breaks. </p>
<p>Little did we know or think to do the research ahead of time, but the road through Yosemite was actually still closed for the winter. So around 2am, I'm driving around Yosemite in the dark, navigating via GPS since there was no cell phone reception where we ended up. I think I drove the same loop 3x before figuring out that we'd have to head south before heading east, aka "the long way."</p>
<p><img class="aligncenter" title="Driving to Fresno" src="http://farm2.static.flickr.com/1304/4665581298_8ee3704685.jpg" alt="" width="500" height="375" /><br />
Most of that drive was through fields - nothing too exciting. RV took over the driving after he'd gotten a wink of rest and we'd reached Fresno. Then I conked out until the stretch through the Mojave. </p>
<p>Around the time that we would have arrived at Bryce Canyon, we arrived in Vegas. A quick Yelp search led us to Island Style, a delicious Korean/Hawaiian place off the strip with fantastic service. I was famished and ready to devour the <a href="http://en.wikipedia.org/wiki/Loco_Moco" target="_blank">Loco Moco</a> I ordered.</p>
<p><img class="aligncenter" title="Loco Moco" src="http://farm5.static.flickr.com/4047/4664957767_f3a6106cb4.jpg" alt="" /></p>
<p>We continued our drive through the rest of Nevada and through the northwestern part of Arizona before finally reaching Utah. The landscape once we hit Arizona was a little more interesting than Nevada. Southern Utah was a welcome sight by the time we reached it.</p>
<p><img class="aligncenter" title="Entering Arizona" src="http://farm2.static.flickr.com/1278/4665582852_66970873d1.jpg" alt="" width="500" height="375" /></p>
<p><img class="aligncenter" title="Entering Utah" src="http://farm5.static.flickr.com/4053/4665584060_769d30ed34.jpg" alt="" width="500" height="375" /></p>
<p>Since we had made this detour, we drove through St. George and <a href="http://www.flickr.com/photos/suki/sets/72157624193615444/" target="_blank">Zion National Park</a> to get to Hatch, where we were staying. We checked in around 5:30pm, but we didn't realize that there was a one-hour time difference, so we actually lost an hour in transition, so it was really 6:30pm. After dropping off our belongings, we decided to freshen up and head out to Bryce Canyon for sunset. It always amazes me how worn out one can get from just sitting in a car all day. The same thing happens after a long plane ride. We drove out to Sunset Point inside Bryce Canyon National Park, checked out the scenery, and then headed back. </p>
<p>After the long day, we rewarded ourselves with dinner and boots of beer.</p>
<p style="text-align: center"><img title="Beer Boots!" src="http://farm5.static.flickr.com/4053/4656409982_05052f6482_m.jpg" alt="" width="240" height="240" /> <img title="Beer Boot!" src="http://farm5.static.flickr.com/4069/4656410248_3e6efa5955_m.jpg" alt="" width="240" height="240" /></p></p>
<p>To be continued...!</p>
