---
layout: post
status: publish
published: true
title: Pineapples at the Dole Plantation - Oahu 2010
disqus_id: 5461 http://superduperfantastic.net/?p=5461
wordpress_id: 5461
wordpress_url: http://superduperfantastic.net/?p=5461
date: '2010-11-19 07:05:14 -0800'
categories:
- Hawaii
tags:
- Oahu
comments: true
---
<p style="text-align: center;"><img src="http://farm5.static.flickr.com/4148/5141733347_a03262e817_z.jpg" alt="Ohai!"  /></p><br />
Since we were heading north via Kamehameha Highway, we made a stop at the <a href="http://www.dole-plantation.com/" target="_blank">Dole Plantation</a> for pineapple soft serve and silly cardboard cut-out photo ops. </p>
<p style="text-align: center;"><img src="http://farm2.static.flickr.com/1391/5142337714_3d032c2ed4.jpg" alt="Dole Plantation" width="320" /> <img src="http://farm2.static.flickr.com/1362/5142339138_9e64e526d0.jpg" alt="Dole Plantation" width="320" /></p> </p>
<p style="text-align: center;"><img src="http://farm2.static.flickr.com/1191/5141734627_8ca39400dd.jpg" alt="Dole Plantation" width="320" /> <img src="http://farm2.static.flickr.com/1067/5141734879_df5c95ea25.jpg" alt="Dole Plantation" width="320" /></p><br />
We also enjoyed our stroll through the pineapple exhibit. It was definitely not as maintained as the pineapple garden maze that we didn't want to pay for, but it still gave me a few lovely photos of different pineapple species.</p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4068/5142340610_edfa46d697_z.jpg" title="Dole Plantation" /></p></p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4003/5142340968_4f6ccfe696_z.jpg" title="Dole Plantation" /></p><br />
The koi pond/pool behind the display of pineapples freaked me out a little bit. </p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4007/5130693280_612851d5da_z.jpg" title="Dole Plantation" /></p><br />
Not only were there a LOT of fish, they were also HUGE and RAVENOUS. </p>
<p style="text-align: center;"><img alt="" src="http://farm2.static.flickr.com/1400/5141735897_83cdca1a4b_z.jpg" title="Dole Plantation" /></p><br />
You could put in a quarter or two for food to feed the fish, but I was more afraid that they'd get too wild and jump out of the water. They don't mess around. They've all got their eating faces on! </p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4053/5142340054_dd89f86c64_z.jpg" title="Dole Plantation" /></p><br />
We left the fish frenzy and continued our drive towards Haleiwa. Stay tuned for the rest of our Sunday adventure, which includes a taro festival and shrimp trucks! Here's the route we took that day: </p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4005/5149229685_77b9504433_z.jpg" title="Oahu - Day Three" /></p></p>
