---
layout: post
status: publish
published: true
title: Oahu 2010 &ndash; Sunday Morning Shenanigans
disqus_id: 5437 http://superduperfantastic.net/?p=5437
wordpress_id: 5437
wordpress_url: http://superduperfantastic.net/?p=5437
date: '2010-11-17 09:10:59 -0800'
categories:
- Hawaii
- Hawaii Eats
tags:
- coffee
- bakery
- Oahu
comments: true
---
<p>Before we would make the trek up to the North Shore, we spent the morning doing what we know best - eating and drinking. First stop: <a href="http://www.glazerscoffee.com/sites/courses/layout9.asp?id=730&page=40732" target="_blank">Glazers Coffee</a>. </p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4112/5130088757_81e3142148_z.jpg" title="Glazers Coffee" /></p><br />
I wouldn't normally take photos of my coffee [okay, maybe I would], but how can one resist when there's coffee art?</p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4060/5130691886_3847bbf3e9.jpg" title="Glazers Coffee" height="320" /> <img alt="" src="http://farm2.static.flickr.com/1077/5130692080_bd073c5ed5.jpg" title="Glazers Coffee" height="320" /></p><br />
And then the cutest of them all - this was my sister's white mocha.</p>
<p style="text-align: center;"><img alt="" src="http://farm2.static.flickr.com/1151/5130089179_4f2cb1f977_z.jpg" title="Glazers Coffee" /></p><br />
After our caffeine fix, we set out to look for breakfast items. Enter <a href="http://lilihabakeryhawaii.com/" target="_blank">Liliha Bakery</a> and their Coco Puffs [cream puffs]. </p>
<p style="text-align: center;"><img alt="" src="http://farm2.static.flickr.com/1399/5130692504_dea19acea9.jpg" title="Liliha Bakery" width="320" /> <img alt="" src="http://farm5.static.flickr.com/4035/5130692180_7c889a94b4.jpg" title="Liliha Bakery" width="320" /></p><br />
Another close-up of the Coco Puffs. </p>
<p style="text-align: center;"><img alt="" src="http://farm2.static.flickr.com/1118/5130693562_e6d612148c_z.jpg" title="Liliha Bakery" /></p><br />
I'm just glad that we didn't travel all this way to have Cocoa Puffs, the cereal. I wasn't sure what to expect when I saw "Coco Puffs" on the list of eats. We also ordered a few other baked goods since the Coco Puffs were a bit much for breakfast. They have a diner/lunch counter at Liliha, but there was a wait.</p>
<p style="text-align: center;"><img alt="" src="http://farm5.static.flickr.com/4042/5130089697_c357225c4d.jpg" title="Liliha Bakery" width="320" /> <img alt="" src="http://farm2.static.flickr.com/1101/5130692284_96921d7091.jpg" title="Liliha Bakery" width="320" /></p><br />
Hot dog bun and a tuna/ham bun. Sounds weird, but they actually tasted pretty good. I'm going to pause for a moment before continuing on about Sunday!</p>
