---
layout: post
status: publish
published: true
title: Russian River Brewing Company for Pliny the Younger 2012
disqus_id: 13546 http://superduperfantastic.com/?p=13546
wordpress_id: 13546
wordpress_url: http://superduperfantastic.com/?p=13546
date: '2012-02-26 17:30:00 -0800'
categories:
- California
- Thirsty
tags:
- Beer
- Santa Rosa
comments: true
---
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7192/6904271397_0da9429f86_z.jpg" alt="Russian River Brewing Co - Pliny the Younger 2012" /></p><br />
This was the year of insanity at <a href="http://www.russianriverbrewing.com/" target="_blank">Russian River Brewing Co.</a> in downtown Santa Rosa. Who in their right mind waits five hours in line for beer?! Guilty as charged <strong>right here</strong> AND the fine folks pictured above. The wait was long, but we were prepared. Each of us stood in line with reading material, so our hours would not go to complete waste. We arrived about half an hour later than <a href="http://superduperfantastic.com/in-line-for-the-younger-sour-beer/7222/" title="In Line for the Younger + Sour Beer!">last year</a>, and on the first full day of release, and it made all the difference. The line was insane. At least we weren't the only crazies there, and we were occupied throughout the wait! </p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7191/6904248897_a44f4b102f_z.jpg" alt="Russian River Brewing Co - Pliny the Younger 2012" /></p><br />
After the obligatory Pliny the Youngers, I ordered my usual - a sampling of sour beers. They really do make some of the best I've ever had.</p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7057/6904255177_1e6b12aeba_z.jpg" alt="Russian River Brewing Co - Pliny the Younger 2012" /></p><br />
Of course, we stuffed ourselves with pizza and beer bites once we got our table and beer.</p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7041/6904258947_87d85fdefa.jpg" alt="Russian River Brewing Co - Pliny the Younger 2012" width="320" /> <img src="http://farm8.staticflickr.com/7199/6904265481_fe3a41a3da.jpg" alt="Russian River Brewing Co - Pliny the Younger 2012" width="320" /></p></p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7197/6904262363_23e912de8b.jpg" alt="Russian River Brewing Co - Pliny the Younger 2012" /></p><br />
Good brews, good eats, and good times! Couldn't have asked for a better weekend. I also got through about half of <a href="http://www.amazon.com/Time-Travelers-Wife-Audrey-Niffenegger/dp/0547119798/ref=sr_1_1?ie=UTF8&qid=1330310211&sr=8-1" title="The Time Traveler's Wife" target="_blank">The Time Traveler's Wife</a> while we were in line.</p>
<p><strong>What have you waited in a LONG LINE for [but was totally worth it]?</strong></p>
