---
layout: post
status: publish
published: true
title: Dunsmuir's Dogwood Diner
disqus_id: 15419 http://superduperfantastic.com/?p=15419
wordpress_id: 15419
wordpress_url: http://superduperfantastic.com/?p=15419
date: '2012-05-15 08:55:49 -0700'
categories:
- California
- California Eats
tags:
- brunch
- Dunsmuir
- Shasta Cascade
- restaurant
comments: true
---
<p>On our way back from the Shasta Cascade area in northern Northern California, we made a brunch stop at a cute little place called Dogwood Diner in Siskiyou County's Dunsmuir. Small town, lots of history. The downtown area has been designated as a historic district on the <a href="http://www.nps.gov/nr/" target="_blank">National Register of Historic Places</a>.</p>
<p style="text-align:center;"><img src="http://farm6.staticflickr.com/5449/7193743772_607c320ce0_z.jpg" class="rc" alt="Dogwood Diner" /></p><br />
Maintaining the facade of the Brown Trout Gallery and Cafe before it, the building now houses <a href="http://www.browntroutvintage.com/" title="Brown Trout Vintage" target="_blank">Brown Trout Vintage</a> and <a href="http://www.browntroutvintage.com/dogwood-diner/" title="Dogwood Diner" target="_blank">Dogwood Diner</a>. At the time of our trip, the spot [more of a restaurant and less of a diner] was only a month or so young.</p>
<p>Arriving at the lucky hours between 11 and noon, we landed both breakfast and lunch menus, and so we ordered from both.</p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7218/7193737190_6111dc7510_z.jpg" class="rc" alt="Dogwood Diner" /></p><br />
Hello grass-fed beef burger on a brioche roll. The sharp cheddar wasn't quite sharp enough, but the  aioli and pickled onions added just enough flavor. The fries were also not as crisp as we normally like them, but the ketchup that they came with? Delish. It definitely tasted homemade.</p>
<p style="text-align:center;"><img src="http://farm9.staticflickr.com/8017/7193742988_257bf20263_n.jpg" class="rc" alt="Dogwood Diner" /> <img src="http://farm9.staticflickr.com/8142/7193742142_83f898f7b1_n.jpg" class="rc" alt="Dogwood Diner" /></p><br />
Then there was the savory and sweet combination of Swedish pancakes with bacon and egg. The fresh fruit compote was a little too tart for the taste, and I'd have loved it on the side, but it's a good idea. I'm always annoyed with the order of pancakes that always requires an extra side of savory when this all comes in one neat package.</p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7216/7193741414_13956b5a6b_n.jpg" class="rc" alt="Dogwood Diner" /> <img src="http://farm9.staticflickr.com/8143/7193738388_c6bc1b96c3_n.jpg" class="rc" alt="Dogwood Diner" /></p><br />
So the food was alright, and there is plenty of room for improvement. However, they have only just started. I love that they offer farm-to-table fare; it's their own style of California comfort food! Despite there also being a minor snafu with billing, I'm looking forward to coming back.</p>
<p>The space is so cute too! </p>
<p style="text-align:center;"><img src="http://farm8.staticflickr.com/7104/7193740584_ddb67aeb67_z.jpg" class="rc" alt="Dogwood Diner" /></p><br />
Hoping their location across the Amtrak station brings them business since the economy's been touch. Next time we're in the area, we'll have to swing by. There were other items on the menu that caught my hungry eyes.</p>
<p style="text-align:center;"><a href="http://www.urbanspoon.com/r/239/1679355/restaurant/Northern-California/Dogwood-Diner-Dunsmuir" target="_blank"><img alt="Dogwood Diner on Urbanspoon" src="http://www.urbanspoon.com/b/link/1679355/biglink.gif" style="border:none;padding:0px;width:200px;height:146px" /></a></p></p>
