---
layout: default
---
<h2 class="category">{{ page.title }}</h2>
{% for catdata in site.data.categories %}
            {% if catdata.cat_name == page.category %}
        <div> {{ catdata.cat_description }}</div>
        {% endif %}
        {% endfor %}
<ul class="posts">
{% for post in site.categories[page.category] %}
<li>
          <a href="{{ post.url | prepend: site.baseurl}}" class="image-box"><div class="excerpt-image" style="background-image: url({% if post.image %}{{ post.image }}{% else %}{{ "/assets/sdfplaceholder.png" | prepend: site.url }}{% endif %});"></div></a>
          <div class="excerpt-text post-header-index">
            <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time><br>
              <i class="fa fa-heart" aria-hidden="true"></i> {% if post.author %}{{ post.author }}{% else %}tinna{% endif %}<br>
              <i class="fa fa-folder-open" aria-hidden="true"></i>
              {% for category in post.categories %}
                {% for catdata in site.data.categories %}
                  {% if catdata.cat_name == category %}
                    <a href="{{ "/category/" | prepend: site.baseurl}}{{category | slugify }}">
                      {% if catdata.cat_sname %}
                        {{ catdata.cat_sname }}
                      {% else %}
                        {{ category }}
                      {% endif %}
                    </a>
                  {% endif %}
                {% endfor %}
                {% unless forloop.last %} > {% endunless %}
              {% endfor %}
              <br>
              <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.disqus_id }}">comments</a></span>

          </div>
        </li>
{% endfor %}
    {% if page.nextUrl %}
    <a class="page-next" href="{{ page.nextUrl | prepend: site.baseurl }}">next</a>
    {% endif %}
</ul>
<ul>
{% for page in pages %}
{% if page.title %}
{% if page.number == nil or page.number == 1 %}
<li>
<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}
</ul>
