---
layout: default
---
<h2 class="category">{{ page.title }}</h2>
{% for catdata in site.data.categories %}
            {% if catdata.cat_name == page.category %}
        <div> {{ catdata.cat_description }}</div>
        {% endif %}
        {% endfor %}
<ul class="posts">
{% for post in site.categories[page.category] %}
<li>
    <div>
        <h3 class="category"><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h3>
        {% if post.thumbnail %}<a href="{{ post.url | prepend:site.baseurl }}">
        <div class="catthumb" style="background-image:url({{ post.thumbnail }})"></div></a>{% endif %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}<br>
        <a href="{{ post.url}}#disqus_thread" data-disqus-identifier="{{ post.disqus_id }}">comments</a><br>
        <i class="fa fa-folder-open" aria-hidden="true"></i> 
        {% for category in post.categories %}
                {% for catdata in site.data.categories %}
                  {% if catdata.cat_name == category %}
                    <a href="{{ "/category/" | prepend: site.baseurl}}{{category | slugify }}">
                      {% if catdata.cat_sname %}
                        {{ catdata.cat_sname }}
                      {% else %}
                        {{ category }} 
                      {% endif %}
                    </a>
                  {% endif %}
                {% endfor %} 
                {% unless forloop.last %} > {% endunless %}
              {% endfor %}
    </span>
    </div>
    </li>
{% endfor %}
</ul>