<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="wrapper">
        <div class="page-content">
            {{ content }}
        </div>
        <div class="sidebar">
            {% include sidebar.html %}
        </div>
    </div>
    {% include footer.html %}
<!--jQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--scrollMonitor-->
      <script src="https://rawgithub.com/sakabako/scrollMonitor/master/scrollMonitor.js"></script>
<!--Disqus-->
      <script id="dsq-count-scr" src="//suki.disqus.com/count.js" async></script>
<!--Default Javascript File-->
      <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
<!--Instagram Widget-->
      <script src="http://lightwidget.com/widgets/lightwidget.js"></script>
  </body>
</html>
