---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<div class="post-header">
    <h2><a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2> 
    <span class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> ~ <i class="fa fa-folder-open" aria-hidden="true"></i> 
    {% for category in page.categories %}
                {% for catdata in site.data.categories %}
                  {% if catdata.cat_name == category %}
                    <a href="{{ "/category/" | prepend: site.baseurl}}{{category | slugify }}">
                      {% if catdata.cat_sname %}
                        {{ catdata.cat_sname }}
                      {% else %}
                        {{ category }} 
                      {% endif %}
                    </a>
                  {% endif %}
                {% endfor %} 
                {% unless forloop.last %} > {% endunless %}
              {% endfor %} ~
              <a href="#disqus_thread" data-disqus-identifier="{{ page.disqus_id }}">comments</a></span>
    <span class="post-tags"><i class="fa fa-tags"></i> {% for tag in page.tags %}<a href="{{ "/tag/" | prepend:site.baseurl}}{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %} 
    {% endfor %}</span>
</div>
<div class="post-content" itemprop="articleBody">
{{ content }}
     
</div>
<!-- Related Posts -->   
<div class="related-posts">
{% assign hasSimilar = '' %}
{% for post in site.related_posts %}
{% assign postHasSimilar = false %}
{% for tag in post.tags %}
    {% for thisTag in page.tags %}
        {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
            {% if hasSimilar.size == 0 %}
            <h3>You Might Also Like: </h3>
            <ul>
            {% endif %}
            <li class="relatedPost">
                {% if post.thumbnail %}<a href="{{ post.url | prepend:site.baseurl }}">
        <div class="catthumb" style="background-image:url({{ post.thumbnail }})"></div></a>{% endif %}
                <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
            </li>
            {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
            {% assign postHasSimilar = true %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
</ul>
{% endif %}
    </div>
 <!-- Navigation links -->
<div class="postnav">
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="previouspost">&laquo; {{page.previous.title}}</a>
  {% endif %}
    
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl}}" class="nextpost">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
<!-- Disqus Comments -->
<div class="page-comments">
{% if page.comments %}
    {% if page.disqus_id %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_identifier = '{{ page.disqus_id }}';
            (function() {  
                var d = document, s = d.createElement('script');

                s.src = '//suki.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
    {% endif %}
{% endif %}
</div>
</article>
